<ion-view view-title="Gestion Voyageur" cache-view="false">
<style>


table {
    border: 1px solid #ccc;
    width: 100%;
    margin:0;
    padding:0;
    border-collapse: collapse;
    border-spacing: 0;
}

table tr {
    border: 1px solid #ddd;
    padding: 5px;
}

table th, table td {
    padding: 10px;
    text-align: center;
}

table th {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}

</style>
    <ion-content>
    <div style="margin:20px;">
      <form class="form-inline">
        <div class="form-group" style="float:right;">
          <input type="text" ng-model="search" class="form-control" placeholder="Search">
        </div>
      </form>
    <table>
    <thead style=" background-color:lightgrey;">
        <tr>
          <th># </td>
          <th ng-click="sort('name')">Nom
            <span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'ion-ios-arrow-up':reverse,'ion-ios-arrow-down':!reverse}"></span>
          </th>
          <th ng-click="sort('lastname')" >Prénom
            <span class="glyphicon sort-icon" ng-show="sortKey=='lastname'" ng-class="{'ion-ios-arrow-up':reverse,'ion-ios-arrow-down':!reverse}"></span>
          </th>
          <th ng-click="sort('email')">E-mail
            <span class="glyphicon sort-icon" ng-show="sortKey=='email'" ng-class="{'ion-ios-arrow-up':reverse,'ion-ios-arrow-down':!reverse}"></span>
          </th>
          <th ng-click="sort('adress')">Adress
            <span class="glyphicon sort-icon" ng-show="sortKey=='adress'"ng-class="{'ion-ios-arrow-up':reverse,'ion-ios-arrow-down':!reverse}"></span>
          </th>
          <th ng-click="sort('phone')" >Tél
            <span class="glyphicon sort-icon" ng-show="sortKey=='phone'" ng-class="{'ion-ios-arrow-up':reverse,'ion-ios-arrow-down':!reverse}"></span>
          </th>
          <th ng-click="sort('activated')" >activé
            <span class="glyphicon sort-icon" ng-show="sortKey=='activated'" ng-class="{'ion-ios-arrow-up':reverse,'ion-ios-arrow-down':!reverse}"></span>
          </th>
          <th >Action</th>
       </tr>
    </thead>
    <tbody>
        <tr dir-paginate="vo in voyageur | filter:search| orderBy:sortKey:reverse|itemsPerPage:6">
          <td data-label="#">{{$index}}</td>
          <td data-label="Nom">{{vo.User.name}}</td>
          <td data-label="Prénom">{{vo.User.lastname}}</td>
          <td data-label="E-mail">{{vo.User.email}}</td>
          <td data-label="Adress">{{vo.User.adress}}</td>
          <td data-label="Tél">{{vo.User.phone}}</td>
          <td data-label="activé" ng-show="vo.User.activated==true">oui</td>
           <td data-label="activé" ng-show="vo.User.activated==false">non</td>
          <td data-label="Action">
            <button ng-show="vo.User.activated==false" class="button button-balanced" ng-click="activate(vo._id,$index)">Activer</button>
            <button ng-show="vo.User.activated==true" class="button button-assertive" ng-click="deactivate(vo._id,$index)">Désactiver</button>
          </td>
        </tr>
    </tbody>
</table>
        <dir-pagination-controls 
          max-size="5"
          direction-links="true"
          boundary-links="true" >
        </dir-pagination-controls>
</div>
    </ion-content>
</ion-view>
