<!-- <ion-view view-title=" Find you Way">
    <ion-content>
        <div class="row" >
            <div id="map" data-tap-disabled="true" class="col col-100" style="height:91vh;" ></div>  
        </div> 

        <div id="floating-panel">
            <b>Start: </b>
                <select id="start" ng-model="start" selected
                    ng-options="sta as sta.name for sta in stations">
                </select>
            <b>End: </b>
          <select id="end" ng-model="end" selected
                ng-options="sta as sta.name for sta in stations"
                ng-change="finditi()">
             </select>
        </div>
        
        <div class="row" >
            <p>Display information : {{ligneS.name}}</p>
        </div> 
    </ion-content>
</ion-view> -->
<style type="text/css">
#floating-panel {
        position: absolute;
        top: 50px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }

#floating-panelancien {
        position: absolute;
        top: 50px;
        left: 35%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }


#floating-panel2{
     position: absolute;
        top: 50px;
        right: 0%;
        height:100%;
        width: 20%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
}

</style>
<ion-view view-title=" Find your Way">

    <ion-content>
        <div class="row" >
            <div id="map" data-tap-disabled="true" class="col col-100" style="height:100vh;" ></div>  
        </div> 

        <div id="floating-panel">
            <b>Start: </b>
                <select  id="origin" ng-model="data.origin" selected
                    ng-options="sta as sta.name for sta in stations"
                   >
                </select>
            <b>End: </b>
          <select  id="destination" ng-model="data.destination" selected
                ng-options="sta as sta.name for sta in stations"
                ng-change="finditi(data.origin,data.destination)">
             </select>
        </div>
<div id="floating-panel2" ng-show="matrice" style="float:right;width:30%;height 100%">
<h3>Les itinéraires possible</h3>
         <ion-scroll has-bouncing="true"  direction="y" style="overflow: hidden;height: 470px;" >
         vous avez {{matrice.length}} chemin pour aller de {{origin.name}} vers {{destination.name}} avec une distance de {{dist}} m.
            <ion-list show-reorder="true" style="margin-top:10px;">

              <div ng-repeat="iti in matrice">
              Itinéraire {{$index +1}}:
 

                
                
                <ion-item class="enable-pointer-events" ng-click="toggleGroup(iti)" >

                 <a style="text-decoration: none;" ng-repeat="i in iti">
                   <i  class="icon ion-arrow-graph-up-right stable" ></i> 
                 {{i.station.name}} 
                 </a>
                  <a style="float:right;"  ><i class="icon item-icon-left" ng-class="isGroupShown(i) ? 'ion-minus' : 'ion-plus'"></i></a>
   
               </ion-item>
               </div>

              </div>
         

            </ion-list>
          </ion-scroll>
  
</div>
         <!-- <div ng-show="matrice" id="floating-panel2">
         <h3>Les itinéraires possible</h3>
         <ion-scroll has-bouncing="true"  direction="y" style="overflow: hidden;height: 470px;" >
         vous avez {{matrice.length}} chemin pour aller de {{origin.name}} vers {{destination.name}} avec une distance de {{dist}} m.
            <ion-list show-reorder="true" style="margin-top:10px;">

              <div ng-repeat="iti in matrice">
              Itinéraire {{$index +1}}:
 

                
                
                <ion-item class="enable-pointer-events" ng-click="toggleGroup(iti)" >

                 <a style="text-decoration: none;" ng-repeat="i in iti">
                   <i  class="icon ion-arrow-graph-up-right stable" ></i> 
                 {{i.station.name}}
                 </a>
                  <a style="float:right;"  ><i class="icon item-icon-left" ng-class="isGroupShown(i) ? 'ion-minus' : 'ion-plus'"></i></a>
   
               </ion-item>
               </div>

              </div>
         

            </ion-list>
          </ion-scroll>
        </div>  -->
        

    
    </ion-content>
</ion-view>